
<div class="container">

    
    <div class="center" >
    
        <h1>tic-tac-toe works!  </h1>
    
        
        <button class="btn btn-primary" [routerLink]="['']">home</button >
            <br>
           
        <button type="button" class="btn btn-primary" (click)="resetGame()" >Reset</button >
            <div class="play-area">
              
                <div id="0" class="block" (click)="onClick($event)"></div>
                <div id="1" class="block" (click)="onClick($event)"></div>
                <div id="2" class="block" (click)="onClick($event)"></div>
                <div id="3" class="block" (click)="onClick($event)"></div>
                <div id="4" class="block" (click)="onClick($event)"></div>
                <div id="5" class="block" (click)="onClick($event)"></div>
                <div id="6" class="block" (click)="onClick($event)"></div>
                <div id="7" class="block" (click)="onClick($event)"></div>
                <div id="8" class="block" (click)="onClick($event)"></div>
              </div>
             
    </div>

</div>

